audio:
  sample_rate: 44100
  buffer_duration: 0.2
  note_duration: 1.0
  pitch_detector:
    hop_length: 512
    threshold: 0.006
    f0_min: 80
    f0_max: 880
    device: "cpu"

selected_song: "fly_me_to_the_moon"

chord_progressions:
  fly_me_to_the_moon:
    - ["A", "natural_minor", "A", "min7", 4]
    - ["A", "natural_minor", "D", "min7", 4]
    - ["C", "major", "G", "dom7", 4]
    - ["C", "major", "C", "maj7", 2]
    - ["F", "major", "C", "dom7", 2]
